<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The portable Dragon Radar was designed, and built by Bulma to help locate Dragon Balls. Dragon Balls emit a faint electromagnetic pulse, which Dragon Radars can detect. The Dragon Radar developed by Bulma points arrows in the directions of nearby Dragon Balls. Pressing the button on the top can cause the view to zoom out and show a more detailed map of the area.
</p>